<mat-tab-group fxLayoutGap="10px" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Calculate Date And Duration">
    <div style="margin-top: 20px;" fxLayout="column">
      <form *ngIf="formGroup" [formGroup]="formGroup">
        <div [formGroupName]="dynamicFormGroupName" *ngIf="dynamicFormGroupName">
          <div *ngFor="let control of constant?.CalculateFormControl; let i = index" fxLayout="row"
            fxLayoutAlign="center center" class="form-field-container">
            <mat-form-field class="full-width" *ngIf="control?.type === 'number' || control?.type === 'date'"
              appearance="fill">
              <mat-label>{{ control?.label }}</mat-label>
              <!-- Number Input -->
              <input matInput class="moveToClose" *ngIf="control?.type === 'number'" [type]="control.type"
                [formControlName]="control?.controlName!" [min]="control?.min" />
              <!-- Date Input -->
              <input *ngIf="control?.type === 'date'" matInput class="moveToClose"
                [min]="control.start === 'true' ? todayDate : minValueForEndDate"
                [formControlName]="control.controlName" [matDatepicker]="picker" />
              <mat-datepicker-toggle *ngIf="control?.type === 'date'" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>

              <!-- Error Messages -->
              <mat-error
                *ngIf="formGroup?.controls[dynamicFormGroupName].get(control?.controlName)?.touched && formGroup?.controls[dynamicFormGroupName].get(control?.controlName).hasError('required')">
                {{ control?.matError?.required }}
              </mat-error>
              <mat-error
                *ngIf="control?.type === 'number' && formGroup?.controls[dynamicFormGroupName].get(control?.controlName)?.dirty && formGroup?.controls[dynamicFormGroupName].get(control?.controlName)?.touched && formGroup?.controls[dynamicFormGroupName].get(control?.controlName).hasError('min')">
                {{ control?.matError?.min }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Adult Tab">
    <div style="margin-top: 20px;" fxLayout="column">
      <mat-card>
        <form *ngIf="formGroup" [formGroup]="adultFormGroup">
          <div [formGroupName]="dynamicAdultFormGroupName" *ngIf="dynamicAdultFormGroupName">
            <div *ngFor="let control of adultConstant?.adultFormControl" class="form-field-container" fxLayout="column"
              fxLayoutAlign="center center">
              <mat-form-field class="full-width">
                <mat-label>{{control?.label}}</mat-label>
                <mat-select class="moveToClose" required [formControlName]="control?.controlName!"
                  (selectionChange)="setAgeRange($event)">
                  <mat-option *ngFor="let option of control?.value" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="adultFormGroup?.controls[dynamicAdultFormGroupName].get(control?.controlName)?.touched && adultFormGroup?.controls[dynamicAdultFormGroupName].get(control?.controlName).hasError('required')">
                  {{ control?.matError?.required }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>